*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
}

.infoEvento{
    line-height: 1em;
    font-size: .8em;
}

.infoEvento strong {
}

.contInfo{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-top: 1px dashed #dee2e6;
    border-bottom: 1px dashed #dee2e6;
}

.infoSec{
    font-size: .6em;
    line-height: 1em;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.textInfo{
    font-size: .6em; 
    line-height: .9em;
}

.infoContrato{
    margin-left: 10px;
    line-height: 1em;
    font-size: .6em;
}

.numeroTiquete{
    font-size: 1em;
    margin: 0 0 !important;
}